{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-auto col-md-auto col-sm-auto text-center">
            <!-- Default form login -->
            <form class="text-center border border-light p-5" action="#!">

                <h2 class="mb-5">Альфа-Риелт</h2>

                <!-- Email -->
                <input type="email" id="LoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                <!-- Name -->
                <input type="name" id="LoginFormName" class="form-control mb-4" placeholder="Фамилия и имя" style="display: none;">

                <!-- Password -->
                <input type="password" id="LoginFormPassword" class="form-control mb-4" placeholder="Пароль" style="display: none;">

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Запомнить меня</label>
                        </div>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <a class="ml-3" href="#" id="forgotEmail">Войти по имени?</a>
                    </div>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4 mx-0" type="submit">Войти</button>

                <!-- Register -->
                <p>Нет доступа?
                    <a class="ml-1" href="">Регистрация</a>
                </p>

            </form>
            <!-- Default form login -->
        </div>
    </div>
</div>

{% endblock %}
