<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Альфа-Риэлт{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/asset/img/favicon.png" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/asset/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/asset/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/asset/css/style.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    <!-- Message modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageTitle" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="messageTitle">Сообщение</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 id="messageBody"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-md" id="messageButton">Ок</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Message modal -->
    <!-- Popup for warnings -->
    <div class="col-sm mx-4 mb-4 w-auto z-depth-2 popupWarning">
        <div class="modal-header top">
            <h4 class="modal-title" id="warningTitle">Сообщение</h4>
        </div>
        <div class="modal-body center">
            <h5 class="m-0" id="warningBody"></h5>
        </div>
        <div class="modal-footer bottom"></div>
        <audio src="asset/media/notify.mp3" autostart="false" width="0" height="0" id="warningSound" enablejavascript="true"></audio>
    </div>
    <div id="popupWarningWrapper">
    </div>
    <!-- Popup for warnings -->
    <!-- JQuery -->
    <script type="text/javascript" src="/asset/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/asset/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/asset/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/asset/js/mdb.min.js"></script>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="/asset/js/script.js"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>
