{% extends 'base.html.twig' %}

{% block title %} - ошибка 404{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-lg-auto col-md-auto col-sm-auto text-center">
            <h1>404 - страница не найдена</h1>
            <h5>Ваш запрос не может быть выполнен, <a href="{{ path('index') }}">вернитесь на главную страницу</a>,</h5>
            <h5>или обратитесь к штатному программисту: <a href="tel:+7(999)999-99-99">+7(999)999-99-99</a>.</h5>
        </div>
    </div>
</div>
{% endblock %}